.mainButton {
        display: flex;
        flex-direction: row;
            justify-content: center;
            /* align-items: center; */
    /*  */
}

.mainButton button {

    /* color: red; */
    /* position: inherit; */

     padding-left: 20px;
     padding-right: 20px;
    /* padding: 10px; */
    border-radius: 30px;
    padding: 5px;
    min-width: 75px;
    margin: 10px; 
    /* margin-bottom: 5px; */
    font-size: 13px;

}

.mainDiv {
    margin: 0px;

}