.mainHeader {
    font-family: "Outfit", sans-serif;    font-weight: 700;
    font-style: italic;
        font-style: normal;
    font-size: 7rem;
    width: 80%;
    color: rgb(244, 214, 23);
    padding-top: 2vh;
    /* padding-bottom: 0; */
    text-align: center;
    padding-left: 9rem;
}



